/* стили друпала */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.page-wrapper {width:972px;/*border:1px solid red;*/margin:0 auto;}
body {padding:0;margin:0;}
.site-head-all {height:108px;}
.site-logo {width:198px;height:108px;background:url(../imgs/site-logo.png) no-repeat;}
.site-head,.site-head-menu,.site-logo, .phone-number-description ,.phone-number-txt {float:left;}
.site-head{width:770px;}
.phone-number {padding:0 0 0 65px;height:40px;background:url(../imgs/phone.png) 15px 0 no-repeat;float:left;}
.phone-number-txt {padding-top:3px;}
.phone-number-txt span {padding:0 5px;}
.phone-number-txt .ncode {color:#909090;font:21px/21px normal Arial;}
.phone-number-txt .nnumber {color:#379ee4;font:32px/21px bold Arial;}
.phone-number-description {width:80px;color:#8e8e8e;font:9px/16px normal Arial;text-transform:uppercase;}
.site-cart {float:right;padding:0 40px 0 50px;background:url(../imgs/cart-ico.png) no-repeat;height:37px;text-transform:uppercase;}

.site-cart .cart-block-title {font: 12px/13px normal Arial; color:#8e8e8e;padding:10px 0 0 0 ;}
.site-cart .cart-content {font: 9px/13px normal Arial; color:#39a3e7;}

.site-head-menu {background:-moz-linear-gradient(top,#fad41b,#f8b028);background:-o-linear-gradient(top,#fad41b,#f8b028);background:-webkit-linear-gradient(top,#fad41b,#f8b028);background:-ms-linear-gradient(top,#fad41b,#f8b028);-pie-background: linear-gradient(top,#fad41b,#f8b028);background:linear-gradient(top,#fad41b,#f8b028); float:right; border-radius:23px 0 0 23px;margin-top:7px;box-shadow:#b8b8b8 -1px -1px 0px;} 
.site-head-menu ul {padding:4px 269px 5px 2px;margin:0;}
.site-head-menu ul li {float:left;list-style:none outside none;}
.site-head-menu ul li div{ border:2px solid #ffffff;border-radius:18px; height:20px;background:-moz-linear-gradient(top,#3ba6ea,#1967b6);background:-o-linear-gradient(top,#3ba6ea,#1967b6);background:-webkit-linear-gradient(top,#3ba6ea,#1967b6);background:-ms-linear-gradient(top,#3ba6ea,#1967b6);-pie-background: linear-gradient(top,#3ba6ea,#1967b6);background:linear-gradient(top,#3ba6ea,#1967b6); padding:8px 18px;margin:0 3px;position:relative;}
.site-head-menu ul li div:hover{background:-moz-linear-gradient(top,#86cefb,#1a87b6);background:-o-linear-gradient(top,#86cefb,#1a87b6);background:-webkit-linear-gradient(top,#86cefb,#1a87b6);background:-ms-linear-gradient(top,#86cefb,#1a87b6);-pie-background: linear-gradient(top,#86cefb,#1a87b6);background:linear-gradient(top,#86cefb,#1a87b6);}
.site-head-menu ul li div a {font:14px/20px normal Arial;color:#ffffff;text-decoration:none;text-transform:uppercase;}

/* общий контент */
.page-content-wrapper {border-top:solid 5px #379ee4;}

/* Блоки  регионы*/
.left-page-sidebar {width:200px;padding:0 0 0 15px;float:left;}
.site-blocks {padding:25px 0 0 ;}
.site-blocks .b-head {position:relative;text-align:right;font:14px/20px normal Arial; color:#ffffff;padding:8px 16px 8px 0;margin-left:45px;border-radius:0 16px 16px 0;text-transform:uppercase; 
		background: #3ba6ea; /* Для старых браузров */
		background: -moz-linear-gradient(top, #3ba6ea, #1967b6); /* Firefox 3.6+ */
    
    /* Chrome 10+, Safari 5.1+ */
		background: -webkit-linear-gradient(top, #3ba6ea, #1967b6);
		background: -o-linear-gradient(top, #3ba6ea, #1967b6); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #3ba6ea, #1967b6); /* IE10 */
		background: linear-gradient(top, #3ba6ea, #1967b6); /* CSS3 */ 
		-pie-background: linear-gradient(top, #3ba6ea, #1967b6); /* CSS3 */ 
/*3ba6ea 1967b6*/}
.block-shina .b-ico,.block-disk .b-ico { width:91px;height:88px;position:absolute;left:-45px;top:0;}
.block-shina .b-ico {background:url(../imgs/ico-shina.png) 0 0 no-repeat;}
.block-disk .b-ico {background:url(../imgs/ico-disk.png) 0 0 no-repeat;}
.block-shina ul,.block-disk ul {padding:0;margin:0 0 0 48px;}
.block-shina ul li,.block-disk ul li {text-align:right;list-style:none outside none;padding:0 15px 0 2px;}
.menu-item-arrow {font:14px/16px normal Arial;color:#f8b526;padding-left:5px;}
.block-shina ul li a,.block-disk ul li a{color:black;font:9px/16px normal Arial;text-transform:uppercase;}

/* блок каталога */
.block-catalog .b-head {margin-left:0;text-align:left;border-radius:16px;padding:8px 16px;}
.block-catalog .proisvoditel-catp { background-color:#f9bf23;padding:10px 0 0;margin-top:-25px; }
.block-catalog .proisvoditel-catp span {font:10px/27px normal Arial;}
.block-catalog .proisvoditel-catp span a {color:black;padding:0 10px;}
.block-catalog .proisvoditel-catp span a.active {color:#ffffff;}

.block-catalog .catalog-content{margin:0;padding: 0 0 10px;box-shadow:0 16px 34px -31px black;-moz-box-shadow:0 16px 34px -31px black;-webkit-box-shadow:0 16px 34px -31px black;background-color:#f6f6f6;}
.block-catalog ul{margin:0;padding:0;list-style:none outside none;position:relative;}
.block-catalog ul li a{font:14px/28px normal Arial;color:black;text-transform:uppercase;text-decoration:none;padding:0 25px;}
.block-catalog ul li.active {background-color:#3ea5e9;border-bottom-color:#f8b327;}
.block-catalog ul li.active a {color:white; }
.block-catalog ul li {border-bottom:1px solid black;}

/* блоки в правой части */
.right-page-sidebar{width:200px;float:right;}
.right-page-sidebar .b-head {margin-left:0;}
.block-info ul, .block-akcii ul {margin:0;padding:0;list-style:none outside none;}
.block-info ul li, .block-akcii ul li {padding:0 25px;font:9px/16px normal Arial;color:black;text-transform:uppercase;}
.block-info ul li a,.block-akcii ul li a {font:9px/16px normal Arial;color:#1c1e1f;}
.block-info .b-ico, .block-akcii .b-ico {position:absolute;left:0;top:0;}
.block-info .b-ico {background:url(../imgs/ico-info.png) 0 0 no-repeat;width:68px;height:50px;}
.block-akcii .b-ico {background:url(../imgs/ico-akcii.png) 0 0 no-repeat;width:53px;height:51px;}
.block-akcii .b-head {border-radius:26px 16px 16px 8px;}
/* блок информации */
.block-news .b-head{border-radius:16px;text-align:left;padding:8px 16px;}
.block-news .block-shadow-r {padding:0 20px 15px;}
.block-news ul {margin:0;padding:0;list-style:none outside none;}
.block-news ul li {padding-top:20px;line-height:normal;}
.block-news ul li  {font:12px normal Arial;}
.block-news ul li .n-date, .block-news ul li .n-title a {color:#379ee4;}
.block-news ul li .n-content {text-align:justify;}
/* тени под блоками */
.block-shadow,.block-shadow-r {/*line-height: 30px; */border-radius: 0px 0px 6px 0px; margin: -12px 0px 0px 40px; box-shadow: -15px 6px 14px -5px rgb(119, 119, 119); background: -moz-linear-gradient(center top , white, rgb(235, 235, 235));background: -ms-linear-gradient(center top , white, rgb(235, 235, 235));background: -o-linear-gradient(center top , white, rgb(235, 235, 235));background: -webkit-linear-gradient(top , white, rgb(235, 235, 235));background: linear-gradient(center top , white, rgb(235, 235, 235));-pie-background: linear-gradient(center top , white, rgb(235, 235, 235)); padding:10px 0 22px; }
.block-shadow-r {border-radius:0 0 6px 6px;box-shadow:0px 8px 15px -11px #777777;margin-left:0;padding:20px 0  15px 0; }